<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Win Reinstalling</title>

    <link rel="stylesheet" href="./styles.css">
    <link rel="icon" href="Image/icon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

</head>

<body cz-shortcut-listen="true">

<div class="main-grid-container">

    <div class="Windows-Reinstalling">
        <a class="WindowsLink" href="https://drive.google.com/file/d/1TA_fgFrRLR9yYSoL5e9B2VPF1gElnkGh/view?pli=1" target="_blank"><img class="header-img" src="Image/icon.svg" alt="">Windows Reinstalling </a>
    </div>

    <div class="grid-container"> <!-- drivers -->

        <div class="grid-h1">

            <img class="h1-img" src="Image/drivers.svg" alt="123">
            <h1>Drivers</h1>
            
        </div>

        <div class="grid-item">

            <div class="grid-items">

                <a class="h1-hover"
                   href="https://www.iobit.com/downloadcenter.php?product=driver-booster-free-new"><img class="download-img"
                        src="Image/download.svg">Driver
                    Booster
                </a>


                <a class="h1-hover"
                   href="https://www.amd.com/en/support/download/drivers.html" target="_blank"><img class="download-img"
                        src="Image/download.svg">AMD driver
                </a>


            </div>

        </div>

    </div>

    <div class="grid-container"> <!-- my -->

        <div class="grid-h1">

            <img class="h1-img" src="image/my.svg">

            <h1>My programs</h1>

        </div>

        <div class="grid-item">

            <div class="grid-items">

                <a class="h1-hover" href="https://telegram.org/dl/desktop/win64"><img class="download-img"
                        src="Image/download.svg">Telegram
                </a>


                <a class="h1-hover" href="https://discord.com/download#"><img class="download-img"
                        src="Image/download.svg">Discord
                </a>


                <a class="h1-hover" href="https://cdn.akamai.steamstatic.com/client/installer/SteamSetup.exe"><img class="download-img"
                        src="Image/download.svg">Steam
                </a>


                <a class="h1-hover" href="https://download.scdn.co/SpotifySetup.exe"><img class="download-img"
                        src="Image/download.svg">Spotify
                </a>


            </div>

        </div>
    </div>

    <div class="grid-container"> <!-- browser -->

        <div class="grid-h1">

            <img class="h1-img" src="image/browser.svg" alt="">
            <h1>Browser</h1>

        </div>

        <div class="grid-item">

            <div class="grid-items">

                <a class="h1-hover" style="font-size: 27px"
                   href="https://www.google.com/intl/ru/chrome/next-steps.html?statcb=1&amp;installdataindex=empty&amp;defaultbrowser=0#"><img class="download-img"
                        src="Image/download.svg">Chrome
                </a>

                <div style=" display: grid; padding-top: 5px; padding-bottom: 4px ;margin-left: 15px">

                    <a class="h1-hover"
                       href="https://chromewebstore.google.com/detail/adblock-%E2%80%94-%D0%BD%D0%B0%D0%B9%D0%BA%D1%80%D0%B0%D1%89%D0%B8%D0%B9-%D0%B1%D0%BB%D0%BE%D0%BA%D1%83/gighmmpiobklfepjocnamgkkbiglidom"
                       target="_blank"><img class="download-img"
                            src="Image/download.svg">adblock
                    </a>

                    <a class="h1-hover"
                       href="https://chromewebstore.google.com/detail/repeek-formerly-faceit-en/mokknliiomknodkdmpcellamkopbdmao"
                       target="_blank"><img class="download-img"
                            src="Image/download.svg">repeek
                    </a>

                    <a class="h1-hover"
                       href="https://chromewebstore.google.com/detail/spotify-ad-blocker-blocki/nfmlkliedggdodlbgghmmchhgckjoaml"
                       target="_blank"><img class="download-img"
                            src="Image/download.svg">spokify
                    </a>

                    <a class="h1-hover"
                       href="https://chromewebstore.google.com/detail/faceit-stats-by-eloking/pkhmoinpecjngkokbmjfdhgecfljcegi"
                       target="_blank"><img class="download-img"
                            src="Image/download.svg">faceit
                        stats
                    </a>

                    <a class="h1-hover"
                       href="https://chromewebstore.google.com/detail/faceit-stats-by-eloking/pkhmoinpecjngkokbmjfdhgecfljcegi"
                       target="_blank"><img class="download-img"
                            src="Image/download.svg">faceit
                        stats
                    </a>

                    <a class="h1-hover"
                       href="https://chromewebstore.google.com/detail/faceit-stats-by-eloking/pkhmoinpecjngkokbmjfdhgecfljcegi"
                       target="_blank"><img class="download-img"
                            src="Image/download.svg">faceit
                        stats
                    </a>
                </div>

            </div>

        </div>

    </div>

    <div class="grid-container"> <!-- basic -->

        <div class="grid-h1">

            <img class="h1-img" src="image/basic.svg">
            <h1>Basic programs</h1>

        </div>

        <div class="grid-item" style="display: flex">

            <div class="grid-items">

                <a class="h1-hover"
                   href="https://cdn.discordapp.com/attachments/1104738989753258034/1223969120815546389/BoosterX.exe?ex=6672cc12&amp;is=66717a92&amp;hm=55f522d6dcb6c682da3050dce29a64407787f517e7669c3639ec5bcaf975f6ef&amp;"
                   target="_blank"><img class="download-img" src="Image/download.svg">BoosterX
                </a>


                <a class="h1-hover" href="https://www.revouninstaller.com/start-freeware-download/"><img class="download-img"
                        src="Image/download.svg">RevoUninstallPro
                </a>


                <a class="h1-hover" href="https://app.prntscr.com/build/setup-lightshot.exe"><img class="download-img"
                        src="Image/download.svg">LightShot
                </a>


                <a class="h1-hover" href="https://www.utorrent.com/web/#comparison-panels"><img class="download-img"
                        src="Image/download.svg">Web
                    Torrent
                </a>


                <a class="h1-hover" href="https://www.7-zip.org/a/7z2406-x64.exe"><img class="download-img"
                        src="Image/download.svg">7-Zip
                </a>


                <a class="h1-hover"
                   href="https://www.win-rar.com/fileadmin/winrar-versions/winrar/winrar-x64-701ru.exe"><img class="download-img"
                        src="Image/download.svg">WinRAR
                </a>


                <a class="h1-hover"
                   href="https://github.com/notepad-plus-plus/notepad-plus-plus/releases/download/v8.6.8/npp.8.6.8.Installer.x64.exe"><img class="download-img"
                        src="Image/download.svg">Notepad++
                </a>

            </div>

        </div>

    </div>


    <div class="grid-container"> <!-- coding -->

        <div class="grid-h1">

            <img class="h1-img" src="image/coding.svg">
            <h1>Coding</h1>

        </div>

        <div class="grid-item">

            <div class="grid-items">

                <a class="h1-hover"
                   href="https://github.com/git-for-windows/git/releases/download/v2.45.2.windows.1/Git-2.45.2-64-bit.exe"><img class="download-img"
                        src="Image/download.svg">Git
                </a>


                <a class="h1-hover"
                   href="https://code.visualstudio.com/sha/download?build=stable&amp;os=win32-x64-user"><img class="download-img"
                        src="Image/download.svg">VS Code
                </a>


                <a class="h1-hover"
                   href="https://www.jetbrains.com/pycharm/download/download-thanks.html?platform=windows"><img class="download-img"
                        src="Image/download.svg">PyCharm
                </a>


                <a class="h1-hover"
                   href="https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=Community&amp;channel=Release&amp;version=VS2022&amp;source=VSLandingPage&amp;cid=3652&amp;passive=false"><img class="download-img"
                        src="Image/download.svg">Visual
                    Studio 2022
                </a>


                <a class="h1-hover" href="https://nodejs.org/dist/v20.14.0/node-v20.14.0-x64.msi"><img class="download-img"
                        src="Image/download.svg">Node.js
                </a>


                <a class="h1-hover" href="https://www.python.org/ftp/python/3.12.4/python-3.12.4-amd64.exe"><img class="download-img"
                        src="Image/download.svg">Python
                </a>


            </div>

        </div>

    </div>


    <div class="grid-container"> <!-- game -->

        <div class="grid-h1">

            <img class="h1-img" src="image/game.svg">
            <h1>Games</h1>

        </div>

        <div class="grid-item">

            <div class="grid-items">

                <a class="h1-hover" href="https://anticheat-client.faceit-cdn.net/FACEITInstaller_64.exe"><img class="download-img"
                        src="Image/download.svg">FaceitAC
                </a>


                <a class="h1-hover" href="https://itorrents-igruha.org/engine/download.php?id=60288"><img class="download-img"
                        src="Image/download.svg">Elden
                    ring
                </a>


                <a class="h1-hover" href="https://itorrents-igruha.org/engine/download.php?id=62376"><img class="download-img"
                        src="Image/download.svg">The
                    Witcher 3
                </a>


                <a class="h1-hover" href="https://ogotop.com/torrent/1223/Dead_Cells_v35.7.torrent"><img class="download-img"
                        src="Image/download.svg">Dead
                    Cells
                </a>

                <a class="h1-hover"
                   href="https://ogotop.com/torrent/0220/Devil_May_Cry_5_Deluxe_Edition_v1.0_build_3853173.torrent"><img class="download-img"
                        src="Image/download.svg">Devil
                    May Cry
                </a>

                <a class="h1-hover" href="https://store.steampowered.com/app/730/CounterStrike_2/?l=russian"
                   target="_blank"><img class="download-img" src="Image/download.svg">CS2
                </a>

                <a class="h1-hover"
                   href="http://localhost:63342/app.py/templates/index.html?_ijt=ujesnvbj559v64rgpgrl7085ru"><img class="download-img"
                        src="Image/download.svg">OSU!
                </a>

            </div>

        </div>

    </div>


    <div class="grid-container"></div>
</div>


</body>
</html>