body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background: #181818;
    color: #cfcfcf;
    font-family: Poppins, serif;
    font-weight: bold;
    margin: 0;

}

h1 {
    color: #fff;
    font-size: 2vw;
    padding-left: 5%;
    margin-block-start: 0;
    margin-block-end: 0;
    height: fit-content;
    width: fit-content;
}

a {
    height: fit-content;
    width: fit-content;
    font-size: 1.146vw;
    margin-top: 10px;
    text-decoration: none;
    color: #fff0f0;
}

.download-img {
    vertical-align: middle;
    width: 1.406vw;
}

.header-img {
   width: 4.5vw;
   vertical-align: -0.9vw;
}

.h1-img {
    vertical-align: middle;
    width: 3.4vw;
}

.h1-hover {
    font-size: 1.2vw;
}

.h1-hover:hover {
    background: rgba(48, 41, 80, 0.3);
    border-radius: 0.26vw;
    padding-right: 0.365vw;
}

.Windows-Reinstalling {
    border-bottom: 1px solid #000;
    display: grid;
    width: 100%;
    align-content: center;
    align-items: center;
}

.WindowsLink {
    font-size: 3.4vw;
    width: 80%;
    height: 100%;
    margin-left: 9vw;
}

.main-grid-container {
    display: grid;
    grid-column: 2 / 3;
    background: #212121;
    border: 1px solid #000000;
    grid-template-rows: 225px 170px 255px 385px 370px 340px 385px 150px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    grid-gap: 10px;
    border-bottom: 1px solid #000;
}

.grid-item {
    display: grid;
    width: 100%;
    border-radius: 16px;
    margin-left: 6%;
}

.grid-items {
    display: grid;
    width: 65%;
    background: #8774E1;
    border-radius: 16px;
    border: 1px solid #000000;
    padding-left: 1.4vw;
    padding-bottom: 10px;
    margin-top: 25px;
    margin-bottom: 25px;

}

.grid-h1 {
    width: 74%;
    height: 65%;
    margin-top: 1vw;
    margin-left: 27%;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}
